@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f9f6f1;
}


.header {
    background-image: url(images/fondo3.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img {
    max-width: 200px;
    height: auto;
    float: left;
}

/* ESTILOS LIBROS */
.titulo-libro{
    font-size: 90px;
    line-height: 100px;
    color: #eab56f;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    
}

.contenedor-libros {
    display: flex;
    flex-wrap: wrap; 
    margin: 30px;
    gap: 30px;
    justify-content: center;
}


.caja-libro {
    border: 1px solid #ddd; 
    padding: 10px; 
    margin-bottom: 10px;
    width: 30%; 
    box-sizing: border-box;
}

.caja-libro a:hover {
    text-decoration: underline;
}

.caja-libro{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 35px 0;
    margin: 0 50px;
    border-radius: 15px; 
    background-color: #c5c1bb60;  
    border: 1px solid #eab56f;
    cursor: pointer;

}

.contenedor-libros img{
    width: 80%;
}

.imagen-libro{
    max-width: 50%;
}

.caja-libro h3{
    font-size: 25px;
    color: #332c27;
    margin-top: 10px;
}

.caja-libro a{
    color: #CF2d3a;
    font-size: 16px;
    margin-top: 3px;
}

/* ESTILOS PAGINAS */

.titulo-pagina{
    font-size: 90px;
    line-height: 100px;
    color: #eab56f;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    
}

.contenedor-paginas {
    display: flex;
    flex-wrap: wrap; 
    margin: 30px;
    gap: 30px;
    justify-content: center;
}


.caja-pagina {
    border: 1px solid #ddd; 
    padding: 10px; 
    margin-bottom: 10px;
    width: 30%; 
    box-sizing: border-box;
}

.caja-pagina a:hover {
    text-decoration: underline;
}

.caja-pagina{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 35px 0;
    margin: 0 50px;
    border-radius: 15px; 
    background-color: #c5c1bb60;  
    border: 1px solid #eab56f;
    cursor: pointer;

}

.contenedor-pagina img{
    width: 80%;
}

.imagen-pagina{
    max-width: 50%;
}

.parrafo-pagina{
    font-size: 23px;
    color: #332c27;
    margin-top: 10px;
    text-align: center;
    margin: 40px;
}

.caja-pagina a{
    color: #CF2d3a;
    font-size: 25px;
    margin-top: 3px;
}
/* ESTILOS VIDEOS */

.titulo-video{
    font-size: 90px;
    line-height: 100px;
    color: #eab56f;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    
}

.contenedor-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
iframe {
    margin-bottom: 20px;
    border-radius: 8px; 
}

body::-webkit-scrollbar {
	width: 12px;
	background: #3a383786;
}

body::-webkit-scrollbar-thumb {
	background: #332c27;
	border-radius: 12px;
	border-right: 20px solid #7c777462;
}