@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

/* font-family: 'Bebas Neue', 'cursive'*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Oswald', sans-serif;
    background-color: #f9f6f1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/fondo.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img {
    max-width: 200px;
    height: auto;
    float: left;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #191559;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #5b5e76;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
    margin-bottom: 45pxs;
}

.header-txt h1, span, h3 {
    margin-top: 160px;
    font-size: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    color: #332c27;
    margin-bottom: 20px;
}

.header-txt span {
    font-size: 25px;
}

.header-txt p {
    color: #191559;
    padding: 0 250px;
    margin: 25px 0;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #01cab6;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0;
    border: 0;
}

.btn-1:hover {
    background-color: #11aa9b
}

.btn-2 {
    display: inline-block;
    padding: 11px 25px;
    color: #332c27;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 25px 0;
    border: 0;
}

.btn-2:hover {
    border-radius: 5px;
    background-color: #11aa9b6b
}

.menu-extras {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.menu-extras h3 {
    font-size: 18px;
    background-color: #01cab6;
    padding: 10px auto;
    border-radius: 5px;
}

.menu-extras p {
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.welcome {
    display: flex;
}

.welcome-1 {
    background-image: url()  ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.welcome-2 {
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #afafaf;
}

h2 {
    font-size: 90px;
    line-height: 100px;
    color: #eab56f;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #191559;
    margin: 10px 0;
}

.b1 {
    color: #332c27;
}

.services {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 75px;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border: 1px solid #332c27;
    width: 150px;
}

.title p{
    padding: 50px 150px;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 35px 0;
    margin: 0 50px;
    border-radius: 15px; 
    background-color: #c5c1bb60;  
    border: 1px solid #eab56f;
    cursor: pointer;
}

.card img{
    width: 80%;
}

img {
    border-radius: 10px;
}

.card h3{
    font-size: 25px;
    color: #332c27;
    margin-top: 10px;
}

.card a{
    color: #CF2d3a;
    font-size: 18px;
    margin-top: 3px;
}
.card a:hover{
    text-decoration: underline;
}


.personal {
    padding: 100px 0;
    text-align: center;
}

.personal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.personal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.personal-1 .button {
    font-size: 15px; /* Ajusta el tamaño del texto del botón */
    padding: 5px 15px; /* Ajusta el relleno del botón */
    background-color: #eab56f; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición de color de fondo */
}
.personal-1 .button:hover {
    background-color:  #f7910d/* Cambia el color de fondo al pasar el ratón */
}
.personal-1 {
   text-align: center; 
}

.personal-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.personal-1 h3{
    font-size: 22px;
}
.personal-1 p {
    padding: 0 50px;
}

.personal-1 a{
    color: #CF2d3a;
}

.footer-bg {
    background-image: url(images/fondo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-1{
    margin-bottom: 11px;
}

.campo{
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #c5c1bb60;
    border: 1px solid #eab56f;
    outline: none;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
}

textarea {
    width: 520px !important;
}

.footer-txt {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    text-align: center;
    padding: 5px;
    background-color: #11aa9b3b;
    margin-top: 30px;
}

svg {
    margin: 0 auto;
    width: 50px;
    height: 50px;
} 

@media (max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        margin-bottom: 15px;
    }

    .header-txt h1 {
        font-size: 90px;
    }

    .header-txt p {
        padding: 0;
        margin: 15px 0;
    }

    .header-dir {
        flex-direction: column;
    }

    .dir p {
        font-size: 18px;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome-1 {
        display: none;
    }

    .welcome-2 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .personal{
        padding: 30px;
    }
    .personal-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .personal-1{
        margin-bottom: 25px;
    }

    .footer-bg{
        padding: 30px;
    }
    .textarea{
        width: 250px !important;
    }
    
}

body::-webkit-scrollbar {
	width: 12px;
	background: #3a383786;
}

body::-webkit-scrollbar-thumb {
	background: #332c27;
	border-radius: 12px;
	border-right: 20px solid #7c777462;
}